@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-thin: 'Montserrat';
    --font-main: 'Roboto';
}

html {
    background-color: #282c42;
    scroll-behavior: smooth;
}

body {
    background-color: #282c42
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0px 0px 5px inset rgba(0, 0, 0, 0.712);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(111, 127, 143);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(59, 102, 145);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(25, 70, 116);
}

/* ===================================================================================== */

.noscript-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #101220d0;
    z-index: 99999;
}

.noscript-overlay__box {
    position: absolute;
    left: 12%;
    right: 12%;
    top: 15%;
    bottom: 15%;
    background: white;
    padding: 24px;
    text-align: center;
}

.noscript-overlay__box h1{
    font-family: var(--font-main);
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.noscript-overlay__box p {
    font-family: var(--font-main);
    font-size: 25px;
}

.noscript-overlay__box img {
    height: 300px;
    width: 300px;
    margin-top: 30px;
}

/* ===================================================================================== */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition-duration: 500ms;
    color: white;
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 99;
}

nav div {
    padding: 12px 48px;
    font-size: 24px;
    width: auto;
    display: inline-block;
    transition-duration: 300ms;
}

nav div:hover {
    cursor: pointer;
    font-size: 30px;
    color: gold;
    background-color: rgba(219, 219, 219, 0.616);
}

nav div:active {
    transition-duration: 100ms;
    background-color: rgba(219, 219, 219, 0.89);
}

nav div:last-child {
    margin-left: auto;
}

/* ===================================================================================== */

#loadingCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition-duration: 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-family: var(--font-main);
    z-index: 99;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Images/HeaderAnimation/BayfrontPark.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header h1 {
    color: white;
    font-family: var(--font-thin);
    font-size: 90px;
    transition-duration: 0.7s;
    letter-spacing: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
    text-shadow: #1f2230 2px 2px 5px;
}
header p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;
    font-family: var(--font-main);
    text-shadow: #1f2230 2px 2px 3px;
    padding: 16px 16px;
}

.header-image-display-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.header-image-display-progress__dot {
    border-radius: 50%;
    background-color: rgb(255, 150, 109);
    height: 15px;
    width: 15px;
    margin: 0px 8px;
    box-shadow: black 0px 0px 8px;
    transition-duration: 1500ms;
}

.header-image-display-progress__dot:first-child {
    background-color: rgb(255, 174, 0);
    transition-duration: 1500ms;
}


/* ===================================================================================== */

#aboutSection {
    padding-bottom: 56px;
}

.about-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: var(--font-main);
}

.about-section__item {
    background-color: #EAEBFB;
    width: 30%;
    border-radius: 3px;
    transition-duration: 500ms;
    padding: 16px 24px 72px;
    overflow: hidden;
}
.about-section__item h1 {
    text-align: center;
    font-size: 30px;
}
.about-section__item h1, p {
    color: rgb(83, 83, 83);
}
.about-section__item p {
    margin-top: 16px;
    font-size: 24px;
}

.about-section__item__image {
    text-align: center;
}

.about-section__item__image img {
    border-radius: 50%;
    border: 5px silver outset;
    margin: 12px;
}

/* ===================================================================================== */

footer {
    height: 1000px;
}

/* ===================================================================================== 



/* ===================================================================================== */

@media only screen and (max-width: 650px) {
    .noscript-overlay__box img {
        height: 120px;
        width: 120px;
    }

    header h1 {
        font-size: 40px;
    }
    header p {
        font-size: 10px;
    }
    .header-image-display-progress {
        height: 50px;
    }
    .header-image-display-progress__dot {
        width: 9px;
        height: 9px;
        margin: 0px 4px;
    }
    nav div {
        font-size: 16px;
        padding: 12px 24px;
    }
    nav div:hover {
        font-size: 22px;
    }
    #aboutSection {
        padding-bottom: 32px;
    }
    .about-section__item {
        width: 90%;
        margin-top: 16px;
        height: 400px;
    }
    .about-section__item h1 {
        text-align: center;
        font-size: 20px;
    }
    .about-section__item p {
        margin-top: 12px;
        font-size: 16px;
    }
}