@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-thin: 'Montserrat';
    --font-main: 'Roboto';
}

html {
    background-color: #282c42
}

body {
    background-color: #282c42
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0px 0px 5px inset rgba(0, 0, 0, 0.712);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(111, 127, 143);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(59, 102, 145);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(25, 70, 116);
}

/* ===================================================================================== */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    transition-duration: 500ms;
    color: white;
    display: flex;
    align-items: center;
    font-family: var(--font-main);
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 999;
}

nav div {
    padding: 12px 48px;
    font-size: 24px;
    width: auto;
    display: inline-block;
    transition-duration: 500ms;
}

nav div:hover {
    cursor: pointer;
    font-size: 30px;
    color: gold;
    background-color: rgba(206, 206, 206, 0.616);
}

nav div:last-child {
    margin-left: auto;
}

/* ===================================================================================== */

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Images/My Images/IMG_20181006_180118.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;
    font-family: var(--font-main);
    text-shadow: #1f2230 2px 2px 3px;
    padding: 16px 16px;
}

#loadingCover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition-duration: 1000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-family: var(--font-main);
    z-index: 99;
}

header h1 {
    color: white;
    font-family: var(--font-thin);
    font-size: 80px;
    transition-duration: 0.7s;
    letter-spacing: 12px;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
    text-shadow: #1f2230 2px 2px 5px;
}
/* ===================================================================================== */

.about-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 64px;
    font-family: var(--font-main);
}

.about-section__item {
    background-color: #EAEBFB;
    width: 30%;
    border-radius: 5px;
    transition-duration: 500ms;
    padding: 16px 24px 72px;
    overflow: hidden;
}

.about-section__item h1 {
    text-align: center;
    font-size: 30px;
}
.about-section__item h1, p {
    color: rgb(83, 83, 83);
}
.about-section__item p {
    margin-top: 16px;
    font-size: 24px;
}

.about-section__item__image {
    text-align: center;
}

.about-section__item__image img {
    border-radius: 50%;
    border: 5px silver outset;
    margin: 12px;
}

/* ===================================================================================== */

footer {
    height: 1000px;
}

/* ===================================================================================== */

@media only screen and (max-width: 650px) {
    header h1 {
        font-size: 40px;
    }
    header p {
        font-size: 10px;
    }
    nav div {
        font-size: 16px;
        padding: 12px 24px;
    }
    .about-section__item {
        width: 90%;
        margin-top: 16px;
        height: 400px;
    }
    .about-section__item h1 {
        text-align: center;
        font-size: 20px;
    }
    .about-section__item p {
        margin-top: 12px;
        font-size: 16px;
    }
}