* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-size: 10px;
}

/* ----------------------------------------- */
/* Colors from https://uidesigndaily.com/posts/sketch-community-page-ui-components-list-card-blog-article-day-1190 */

.noscript-bg {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
}

.noscript-box {
    position: absolute;
    z-index: 999;
    top: 18%;
    bottom: 18%;
    left: 20%;
    right: 20%;
    background-color: white;
    border-radius: 20px;
}
.noscript-box::before {
    background-image: url('http://assets.stickpng.com/images/5a81af7d9123fa7bcc9b0793.png');
    background-position: center;
    background-size: cover;
}

.noscript-text {
    padding: 40px 60px;
}

.noscript-text h5 {
    color: red;
    font-weight: bold;
    font-size: 4.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.noscript-text p {
    font-size: 3rem;
    color: red;
    margin: 0;
}

/* ----------------------------------------- */

body::-webkit-scrollbar {
    background: rgba(136, 136, 136, 0.425);
    width: 10px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
body::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.774);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
}

body {
    background-color: #EAEBFB;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    transition-duration: 6s;
}

.bodyRGB {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    transition-duration: 480ms;
}

.iframe-container {
    text-align: center;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 35px;
}

iframe {
    border: 5px outset silver;
    background-color: black;
}

.countdown-texts {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}

#currentDateText::before {
    content: 'Your device\'s Date: ';
    display: block;
    font-size: 2.5rem;
    font-weight: normal;
}


/* ---------------------------------------- */

.info-container {
    background-color: #1E2656;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 15px;
    padding: 15px 0px;
}

.info-container h4 {
    font-size: 22px;
    padding: 35px 15px 5px 15px;
    position: relative;
}

.info-container h4 span {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 24px;
    font-size: 32px;
    cursor: pointer;
}

#yaytext {
    transition-duration: 0.5s;
    font-size: 8rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}

#masterTimer {
    margin-bottom: 0;
    font-size: 5.5rem;
}

/* ---------------------------------------- */

.settings-button {
    position: fixed;
    left: 0;
    bottom: 0%;
    background-color: steelblue;
    text-align: center;
    border-radius: 10px;
    z-index: 9999;
}
.settings-button:hover {
    cursor: pointer;
}
.settings-button i {
    font-size: 70px;
    color: white;
    padding: 7px 10px;
}
.settings-button i:hover {
    transition-duration: 300ms;
    transform: rotate(180deg);
}
.settings-container {
    overflow: auto;
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
}
.settings {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    background-color: #B4B4C6;
    border-radius: 15px;
    overflow: auto;
    z-index: 9999999;
}
.settings::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}
.settings::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.settings::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 87, 87);
}

#closeSettings {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 60px;
    color: white;
}
#closeSettings:hover {
    cursor: pointer;
}
.settings h4 {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 0;
    text-decoration: underline;
}
.settings-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.default-theme {
    width: 55px;
    height: 55px;
    background-color: #1E2656;
    border: 1px gray solid;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}
.default-theme:hover {
    cursor: pointer;
}
.default-theme i {
    margin-top: 12px;
}
.pink-theme {
    width: 55px;
    height: 55px;
    background-color: #c56baf;
    border: 1px gray solid;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}
.pink-theme:hover {
    cursor: pointer;
}
.pink-theme i {
    margin-top: 12px;
    display: none;
}
.settings-theme h6 {
    color: white;
    text-align: left;
    font-size: 3.5rem;
    margin: 20px 0px 0px 0px;
}

.advanced-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advanced-settings h6 {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
}

/* ---------------------------------------- */

.howto {
    text-align: center;
}

video {
    margin-bottom: 30px;
    outline: none;
}

.about-container {
    background-color: #1E2656;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 12px;
    padding: 15px 0px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-container::before {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin: 20px;
}
.about-container::after {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    margin: 20px;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab';
    width: 100%;
    font-size: 4rem;
    text-decoration: underline;
    margin-top: 0;
}
h1::before {
    content: '-';
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px 0px 0px;
}
h1::after {
    content: '-';
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 5px;
}

h2 {
    width: 100%;
    font-size: 2.5rem;
    padding: 0px 20px 0px 20px;
    font-weight: normal;
}
h2::before {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    left: 0;
    margin: 20px;
}
h2::after {
    content: '';
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    border-radius: 50%;
    right: 0;
    margin: 20px;
}

.countdown-container {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.countdown-item {
    background-color: #8484A2;
    width: 120px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    border: 2px inset silver;
}

.countdown-item-text {
    font-size: 4rem;
}

#monthsCountdown::before {
    content: 'Month';
    display: block;
    font-size: 2rem;
}
#monthsCountdownCont:hover::after {
    font-size: 1.8rem;
    width: 120px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The current month of your device (1-12)';
}

#daysCountdown::before {
    content: 'Day';
    display: block;
    font-size: 2rem;
}
#daysCountdownCont:hover::after {
    font-size: 1.8rem;
    width: 120px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The current day of your device (1-31)';
}

#hoursCountdown::before {
    content: 'Hour';
    display: block;
    font-size: 2rem;
}
#hoursCountdownCont:hover::after {
    font-size: 1.8rem;
    width: 120px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The current hour of your device (0-23)';
}

#minutesCountdown::before {
    content: 'Minute';
    display: block;
    font-size: 2rem;
}
#minutesCountdownCont:hover::after {
    font-size: 1.8rem;
    width: 120px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The current minute of your device (0-59)';
}

#secondsCountdown::before {
    content: 'Second';
    display: block;
    font-size: 2rem;
}
#secondsCountdownCont:hover::after {
    font-size: 1.8rem;
    width: 120px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The second second of your device (0-59)';
}

#millisecondsCoundown::before {
    content: 'Millisecond';
    display: block;
    font-size: 2rem;
}
#millisecondsCoundownCont:hover::after {
    font-size: 1.8rem;
    width: 130px;
    display: block;
    background-color: #9A9DB5;
    border-radius: 7px;
    padding: 5px 10px;
    position: absolute;
    content: '^ The current millisecond of your device (0-100)';
}

/* ---------------------------------------- */

/* @keyframes rgbBg {
    from { background-color: red}
    66.666% { background-color: green; }
    99.999% { background-color: blue }
    to { background-color: red; }
} */

@media screen and (max-width: 1000px) {
    .info-container {
        width: 92vw;
    }
    .about-container {
        width: 92vw;
    }
}